{% load static %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block titulo %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" rel="stylesheet"/>
</head>
<body>
<main class="container">
    <nav>
        <ul>
            <li style="font-size:2rem"><strong><a href="{% url 'home' %}">🏢</a>&nbsp;&nbsp;&nbsp;Meu Ecommerce</strong></li>
        </ul>
        <ul>
            <li><a href="#">Sobre</a></li>
            <li><a href="{% url 'listallprod' %}">Produtos</a></li>

            <li><a href="{% url 'carrinhodetalhe' %}">
                    Carrinho <span>🛒 {{ carrinho|length }}</span>
                </a>
            </li>
            {% if request.user.is_authenticated %}
             <li><a href="{% url 'meus_pedidos' %}">Meus Pedidos</a></li>
            <li>
                {{ request.user.get_full_name }}
                <a href="{% url 'logoutuser' %}">🔌</a>
            </li>
            {% else %}
            <li><a href="{% url 'loginuser' %}" role="button"
                   class="outline">Entrar</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% block conteudo %}
    {% endblock %}
</main>
</body>
</html>