{% extends 'base.html' %}
{% load static %}

{% block titulo %}Meu Ecommerce - produtos{% endblock %}

    {% block conteudo %}
        <article data-theme="light">
            <h2>
                Produtos - Categoria
                {% if categoria %}
                    {{ categoria.nome }}
                {% else %}
                    Geral
                {% endif %}
            </h2>
            <table class="striped">
                <thead>
                <tr>
                    <th>Imagem</th> <th>Nome</th> <th>Preço</th>
                </tr>
                </thead>
                <tbody>
                {% for p in produtos %}
                <tr>
                    <td>
                        <img src="{% if p.imagem %} {{p.imagem.url}}
                                  {% else %} {% static 'imagens/notfound.jfif' %}
                                  {% endif %}" alt="imagem de {{ p.nome }}">
                    </td>
                    <td>{{ p.nome }}</td>
                    <td>{{ p.preco }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        </article>
    {% endblock %}